@media (max-width:768px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .row0 {
    display: flex;
    margin-left: 21px;
    margin-top: 42px;
    width: 328px;
    height: 133px;
    align-items: stretch
  }
  .style45 {
    background-image: url(https://designresources.assets.yotako.io/9lhfavcjogxfa71.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    width: 232px;
    flex-direction: column
  }
  .row0image12row0 {
    display: flex;
    margin-left: 40px;
    margin-top: 4px;
    width: 159px;
    height: 12px;
    align-items: center
  }
  .style49 {
    margin-left: 0;
    width: 12px;
    height: 100%
  }
  .style48 {
    color: #31271c;
    text-align: center;
    font-family: 'Fira Sans',serif;
    font-size: .1875em;
    font-weight: 500;
    font-style: italic;
    margin-left: 18px;
    height: 2px
  }
  .style47 {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-left: 32px;
    width: 4px;
    height: 4px
  }
  .style46 {
    color: #00ff9c;
    text-align: center;
    font-family: acaslonpro,serif;
    font-size: .625em;
    font-weight: 700;
    line-height: 17px;
    font-style: italic;
    margin-top: 39px;
    width: 95px;
    align-self: center
  }
  .style19 {
    background-image: url(https://designresources.assets.yotako.io/9lhfavcjogxf67z.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 17px;
    width: 80px;
    flex-direction: column
  }
  .row0image4row0 {
    display: flex;
    margin-left: 34px;
    margin-top: 4px;
    width: 39px;
    height: 12px;
    align-items: center
  }
  .style22 {
    margin-left: 0;
    width: 12px;
    height: 100%
  }
  .style21 {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-left: 23px;
    width: 4px;
    height: 4px
  }
  .style20 {
    text-align: center;
    font-size: .5625em;
    line-height: 16px;
    margin-top: 36px;
    width: 67px;
    align-self: center
  }
  .style18,
  .style20,
  .style44 {
    color: #00ff9c;
    font-family: acaslonpro,serif;
    font-weight: 700;
    font-style: italic
  }
  .style18 {
    text-align: center;
    font-size: .5em;
    line-height: 13px;
    margin-left: 287px;
    margin-top: 14px;
    width: 46px
  }
  .style44 {
    font-size: .625em;
    line-height: 17px;
    margin-left: 53px;
    margin-top: 0;
    width: 64px
  }
  .row3 {
    position: relative;
    display: flex;
    margin-left: 54px;
    margin-top: 0;
    width: 288px;
    height: 107px
  }
  .style43 {
    color: #525252;
    line-height: 5px;
    margin-left: 0;
    margin-top: 18px;
    width: 166px
  }
  .style17,
  .style42,
  .style43 {
    font-family: 'Fira Sans',serif;
    font-size: .1875em
  }
  .style42 {
    margin-top: 62px;
    height: 2px;
    color: #b8b8b8;
    margin-left: 0
  }
  .style17 {
    color: #525252;
    line-height: 5px;
    margin-left: 203px;
    width: 66px;
    align-self: stretch
  }
  .row4 {
    position: relative;
    display: flex;
    margin-left: 21px;
    margin-top: 0;
    width: 328px;
    height: 133px
  }
  .style36 {
    background-image: url(https://designresources.assets.yotako.io/9lhfavcjogxf9hh.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    width: 232px;
    height: 100%;
    align-self: stretch;
    flex-direction: column
  }
  .style40,
  .style41 {
    color: #fff;
    text-align: center;
    align-self: center
  }
  .style41 {
    font-style: italic;
    height: 7px;
    font-family: acaslonpro,serif;
    font-size: .5em;
    font-weight: 700;
    margin-top: 46px
  }
  .style40 {
    font-family: 'Fira Sans',serif;
    font-size: .1875em;
    font-weight: 500;
    line-height: 5px;
    margin-top: 7px;
    width: 78px
  }
  .row4image11row2 {
    display: flex;
    margin-left: 92px;
    margin-top: 13px;
    width: 51px;
    height: 3px;
    align-items: stretch
  }
  .style38,
  .style39 {
    color: #fff;
    font-family: acaslonpro,serif;
    font-size: .1875em;
    font-weight: 700;
    font-style: italic;
    margin-left: 0
  }
  .style38 {
    color: #4d4d4d;
    margin-left: 22px
  }
  .style37 {
    color: rgba(255,255,255,.6);
    font-family: 'Fira Sans',serif;
    font-size: 0;
    letter-spacing: 1px;
    margin-left: 221px;
    margin-top: 0;
    height: 39px
  }
  .row4column1 {
    display: flex;
    margin-left: 17px;
    margin-top: 21px;
    width: 80px;
    height: 145px;
    flex-direction: column
  }
  .style16 {
    color: #b8b8b8;
    font-family: 'Fira Sans',serif;
    font-size: .1875em;
    margin-left: 6px;
    margin-top: 0;
    height: 2px
  }
  .style11 {
    background-image: url(https://designresources.assets.yotako.io/9lhfavcjogxf5pr.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-top: 10px;
    width: 100%;
    height: 133px;
    align-self: stretch;
    flex-direction: column
  }
  .style14,
  .style15 {
    color: #fff;
    text-align: center;
    align-self: center
  }
  .style15 {
    font-style: italic;
    font-family: acaslonpro,serif;
    font-size: .5em;
    font-weight: 700;
    line-height: 14px;
    margin-top: 38px;
    width: 54px
  }
  .style14 {
    font-family: 'Fira Sans',serif;
    font-size: .1875em;
    font-weight: 500;
    line-height: 5px;
    margin-top: 8px;
    width: 63px
  }
  .row4column1image3row2 {
    display: flex;
    margin-left: 18px;
    margin-top: 10px;
    width: 47px;
    height: 3px;
    align-items: stretch
  }
  .style12,
  .style13,
  .style35 {
    color: #fff;
    font-family: acaslonpro,serif;
    font-size: .1875em;
    font-weight: 700;
    font-style: italic;
    margin-left: 0
  }
  .style12,
  .style35 {
    color: #4d4d4d;
    margin-left: 18px
  }
  .style35 {
    color: #292b2a;
    text-align: center;
    font-size: .375em;
    margin-left: 100px;
    margin-top: 16px;
    height: 6px
  }
  .style34 {
    color: #525252;
    font-family: 'Fira Sans',serif;
    font-size: .1875em;
    line-height: 5px;
    margin-left: 54px;
    margin-top: 6px;
    width: 162px
  }
  .style10 {
    color: #292b2a;
    font-family: acaslonpro,serif;
    font-size: .375em;
    font-weight: 700;
    line-height: 13px;
    font-style: italic;
    margin-left: 276px;
    margin-top: 2px;
    width: 47px
  }
  .row8 {
    position: relative;
    display: flex;
    margin-left: 54px;
    margin-top: 0;
    width: 295px;
    height: 89px
  }
  .style33 {
    margin-left: 0;
    width: 166px;
    height: 100%;
    align-self: stretch
  }
  .row8column1 {
    display: flex;
    margin-left: 50px;
    margin-top: 9px;
    width: 80px;
    height: 97px;
    align-items: center;
    flex-direction: column
  }
  .style9 {
    color: #525252;
    font-family: 'Fira Sans',serif;
    font-size: .1875em;
    line-height: 5px;
    margin-top: 0;
    width: 66px
  }
  .style8 {
    margin-top: 8px;
    width: 100%;
    height: 56px
  }
  .row9 {
    position: relative;
    display: flex;
    margin-left: 54px;
    margin-top: 10px;
    width: 288px;
    height: 122px
  }
  .style31 {
    width: 66px;
    height: 99px
  }
  .row9column1,
  .style30,
  .style31 {
    margin-left: 0;
    flex-shrink: 0
  }
  .style30 {
    color: #333;
    font-family: acaslonpro,serif;
    font-size: .3125em;
    font-weight: 600;
    height: 5px
  }
  .row9column1 {
    position: relative;
    display: flex;
    width: 88px;
    height: 127px;
    flex-direction: column
  }
  .style32 {
    color: #525252;
    font-family: 'Fira Sans',serif;
    font-size: .1875em;
    line-height: 5px;
    margin-top: 0;
    width: 100%;
    align-self: stretch
  }
  .style29 {
    color: #333;
    font-family: acaslonpro,serif;
    font-size: .1875em;
    font-weight: 700;
    font-style: italic;
    margin-left: 67px;
    margin-top: 37px;
    height: 3px
  }
  .style7 {
    color: #525252;
    font-family: 'Fira Sans',serif;
    font-size: .1875em;
    line-height: 5px;
    position: relative;
    margin-left: 58px;
    margin-top: 15px;
    width: 66px;
    flex-shrink: 0
  }
  .row10 {
    display: flex;
    margin-left: 81px;
    margin-top: 23px;
    width: 262px;
    height: 62px
  }
  .style27 {
    color: #00ff9c;
    text-align: center;
    font-family: 'Fira Sans',serif;
    font-size: .1875em;
    line-height: 6px;
    margin-left: 0;
    margin-top: 28px;
    width: 26px
  }
  .row10column1 {
    display: flex;
    margin-left: 17px;
    margin-top: 8px;
    width: 27px;
    height: 49px;
    align-items: center;
    flex-direction: column
  }
  .style28 {
    margin-top: 0;
    width: 12px;
    height: 12px
  }
  .style25,
  .style26 {
    color: #00ff9c;
    text-align: center;
    font-family: 'Fira Sans',serif;
    font-size: .1875em;
    line-height: 6px;
    margin-top: 9px;
    width: 100%
  }
  .style25 {
    margin-left: 21px;
    margin-top: 28px;
    width: 15px
  }
  .style6 {
    margin-left: 90px;
    width: 66px;
    height: 100%;
    align-self: stretch
  }
  .style5 {
    color: #333;
    text-align: center;
    font-family: acaslonpro,serif;
    font-size: .25em;
    font-weight: 600;
    line-height: 11px;
    margin-left: 283px;
    margin-top: 16px;
    width: 54px
  }
  .row12 {
    display: flex;
    margin-left: 54px;
    margin-top: 0;
    width: 167px;
    height: 12px;
    align-items: center
  }
  .style23 {
    color: #525252;
    font-family: 'Fira Sans',serif;
    font-size: .1875em;
    margin-left: 0;
    height: 3px
  }
  .style24 {
    margin-left: 77px;
    width: 12px;
    height: 100%
  }
  .style3,
  .style4 {
    margin-left: 304px
  }
  .style4 {
    color: #333;
    font-family: acaslonpro,serif;
    font-size: .1875em;
    font-weight: 700;
    font-style: italic;
    margin-top: 3px;
    height: 3px
  }
  .style3 {
    margin-top: 22px;
    width: 12px;
    height: 12px
  }
  .row15 {
    display: flex;
    margin-left: 280px;
    margin-top: 7px;
    width: 59px;
    height: 29px;
    align-items: stretch
  }
  .style2 {
    color: #00ff9c;
    text-align: center;
    font-size: .1875em;
    line-height: 6px;
    margin-left: 0;
    width: 26px
  }
  .style0,
  .style1,
  .style2 {
    font-family: 'Fira Sans',serif
  }
  .style1 {
    text-align: center;
    line-height: 6px;
    width: 27px;
    color: #00ff9c;
    font-size: .1875em;
    margin-left: 7px
  }
  .style0 {
    color: #525252;
    font-size: .125em;
    margin-left: 277px;
    margin-top: 20px;
    height: 2px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .row0 {
    display: flex;
    margin-left: 43px;
    margin-top: 86px;
    width: 672px;
    height: 272px;
    align-items: stretch
  }
  .style45 {
    background-image: url(https://designresources.assets.yotako.io/9lhfavcjogxfa71.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    width: 475px;
    flex-direction: column
  }
  .row0image12row0 {
    display: flex;
    margin-left: 82px;
    margin-top: 8px;
    width: 326px;
    height: 25px;
    align-items: center
  }
  .style49 {
    margin-left: 0;
    width: 25px;
    height: 100%
  }
  .style48 {
    color: #31271c;
    text-align: center;
    font-family: 'Fira Sans',serif;
    font-size: .384em;
    font-weight: 500;
    font-style: italic;
    margin-left: 37px;
    height: 4px
  }
  .style47 {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-left: 66px;
    width: 8px;
    height: 8px
  }
  .style46 {
    color: #00ff9c;
    text-align: center;
    font-family: acaslonpro,serif;
    font-size: 1.28em;
    font-weight: 700;
    line-height: 35px;
    font-style: italic;
    margin-top: 80px;
    width: 195px;
    align-self: center
  }
  .style19 {
    background-image: url(https://designresources.assets.yotako.io/9lhfavcjogxf67z.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 35px;
    width: 164px;
    flex-direction: column
  }
  .row0image4row0 {
    display: flex;
    margin-left: 70px;
    margin-top: 8px;
    width: 80px;
    height: 25px;
    align-items: center
  }
  .style22 {
    margin-left: 0;
    width: 25px;
    height: 100%
  }
  .style21 {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-left: 47px;
    width: 8px;
    height: 8px
  }
  .style20 {
    text-align: center;
    font-size: 1.1520000000000001em;
    line-height: 33px;
    margin-top: 74px;
    width: 137px;
    align-self: center
  }
  .style18,
  .style20,
  .style44 {
    color: #00ff9c;
    font-family: acaslonpro,serif;
    font-weight: 700;
    font-style: italic
  }
  .style18 {
    text-align: center;
    font-size: 1.024em;
    line-height: 27px;
    margin-left: 588px;
    margin-top: 29px;
    width: 94px
  }
  .style44 {
    font-size: 1.28em;
    line-height: 35px;
    margin-left: 109px;
    margin-top: 0;
    width: 131px
  }
  .row3 {
    position: relative;
    display: flex;
    margin-left: 111px;
    margin-top: 0;
    width: 590px;
    height: 219px
  }
  .style43 {
    color: #525252;
    line-height: 10px;
    margin-left: 0;
    margin-top: 37px;
    width: 340px
  }
  .style17,
  .style42,
  .style43 {
    font-family: 'Fira Sans',serif;
    font-size: .384em
  }
  .style42 {
    margin-top: 127px;
    height: 4px;
    color: #b8b8b8;
    margin-left: 0
  }
  .style17 {
    color: #525252;
    line-height: 10px;
    margin-left: 416px;
    width: 135px;
    align-self: stretch
  }
  .row4 {
    position: relative;
    display: flex;
    margin-left: 43px;
    margin-top: 0;
    width: 672px;
    height: 272px
  }
  .style36 {
    background-image: url(https://designresources.assets.yotako.io/9lhfavcjogxf9hh.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    width: 475px;
    height: 100%;
    align-self: stretch;
    flex-direction: column
  }
  .style40,
  .style41 {
    color: #fff;
    text-align: center;
    align-self: center
  }
  .style41 {
    font-style: italic;
    height: 14px;
    font-family: acaslonpro,serif;
    font-size: 1.024em;
    font-weight: 700;
    margin-top: 94px
  }
  .style40 {
    font-family: 'Fira Sans',serif;
    font-size: .384em;
    font-weight: 500;
    line-height: 10px;
    margin-top: 14px;
    width: 160px
  }
  .row4image11row2 {
    display: flex;
    margin-left: 188px;
    margin-top: 27px;
    width: 104px;
    height: 6px;
    align-items: stretch
  }
  .style38,
  .style39 {
    color: #fff;
    font-family: acaslonpro,serif;
    font-size: .384em;
    font-weight: 700;
    font-style: italic;
    margin-left: 0
  }
  .style38 {
    color: #4d4d4d;
    margin-left: 45px
  }
  .style37 {
    color: rgba(255,255,255,.6);
    font-family: 'Fira Sans',serif;
    font-size: 0;
    letter-spacing: 2px;
    margin-left: 453px;
    margin-top: 0;
    height: 80px
  }
  .row4column1 {
    display: flex;
    margin-left: 35px;
    margin-top: 43px;
    width: 164px;
    height: 297px;
    flex-direction: column
  }
  .style16 {
    color: #b8b8b8;
    font-family: 'Fira Sans',serif;
    font-size: .384em;
    margin-left: 12px;
    margin-top: 0;
    height: 4px
  }
  .style11 {
    background-image: url(https://designresources.assets.yotako.io/9lhfavcjogxf5pr.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 272px;
    align-self: stretch;
    flex-direction: column
  }
  .style14,
  .style15 {
    color: #fff;
    text-align: center;
    align-self: center
  }
  .style15 {
    font-style: italic;
    font-family: acaslonpro,serif;
    font-size: 1.024em;
    font-weight: 700;
    line-height: 29px;
    margin-top: 78px;
    width: 111px
  }
  .style14 {
    font-family: 'Fira Sans',serif;
    font-size: .384em;
    font-weight: 500;
    line-height: 10px;
    margin-top: 16px;
    width: 129px
  }
  .row4column1image3row2 {
    display: flex;
    margin-left: 37px;
    margin-top: 20px;
    width: 96px;
    height: 6px;
    align-items: stretch
  }
  .style12,
  .style13,
  .style35 {
    color: #fff;
    font-family: acaslonpro,serif;
    font-size: .384em;
    font-weight: 700;
    font-style: italic;
    margin-left: 0
  }
  .style12,
  .style35 {
    color: #4d4d4d;
    margin-left: 37px
  }
  .style35 {
    color: #292b2a;
    text-align: center;
    font-size: .768em;
    margin-left: 205px;
    margin-top: 33px;
    height: 12px
  }
  .style34 {
    color: #525252;
    font-family: 'Fira Sans',serif;
    font-size: .384em;
    line-height: 10px;
    margin-left: 111px;
    margin-top: 12px;
    width: 332px
  }
  .style10 {
    color: #292b2a;
    font-family: acaslonpro,serif;
    font-size: .768em;
    font-weight: 700;
    line-height: 27px;
    font-style: italic;
    margin-left: 565px;
    margin-top: 4px;
    width: 96px
  }
  .row8 {
    position: relative;
    display: flex;
    margin-left: 111px;
    margin-top: 0;
    width: 604px;
    height: 182px
  }
  .style33 {
    margin-left: 0;
    width: 340px;
    height: 100%;
    align-self: stretch
  }
  .row8column1 {
    display: flex;
    margin-left: 102px;
    margin-top: 18px;
    width: 164px;
    height: 199px;
    align-items: center;
    flex-direction: column
  }
  .style9 {
    color: #525252;
    font-family: 'Fira Sans',serif;
    font-size: .384em;
    line-height: 10px;
    margin-top: 0;
    width: 135px
  }
  .style8 {
    margin-top: 16px;
    width: 100%;
    height: 115px
  }
  .row9 {
    position: relative;
    display: flex;
    margin-left: 111px;
    margin-top: 20px;
    width: 590px;
    height: 250px
  }
  .style31 {
    width: 135px;
    height: 203px
  }
  .row9column1,
  .style30,
  .style31 {
    margin-left: 0;
    flex-shrink: 0
  }
  .style30 {
    color: #333;
    font-family: acaslonpro,serif;
    font-size: .64em;
    font-weight: 600;
    height: 10px
  }
  .row9column1 {
    position: relative;
    display: flex;
    width: 180px;
    height: 260px;
    flex-direction: column
  }
  .style32 {
    color: #525252;
    font-family: 'Fira Sans',serif;
    font-size: .384em;
    line-height: 10px;
    margin-top: 0;
    width: 100%;
    align-self: stretch
  }
  .style29 {
    color: #333;
    font-family: acaslonpro,serif;
    font-size: .384em;
    font-weight: 700;
    font-style: italic;
    margin-left: 137px;
    margin-top: 76px;
    height: 6px
  }
  .style7 {
    color: #525252;
    font-family: 'Fira Sans',serif;
    font-size: .384em;
    line-height: 10px;
    position: relative;
    margin-left: 119px;
    margin-top: 31px;
    width: 135px;
    flex-shrink: 0
  }
  .row10 {
    display: flex;
    margin-left: 166px;
    margin-top: 47px;
    width: 537px;
    height: 127px
  }
  .style27 {
    color: #00ff9c;
    text-align: center;
    font-family: 'Fira Sans',serif;
    font-size: .384em;
    line-height: 12px;
    margin-left: 0;
    margin-top: 57px;
    width: 53px
  }
  .row10column1 {
    display: flex;
    margin-left: 35px;
    margin-top: 16px;
    width: 55px;
    height: 100px;
    align-items: center;
    flex-direction: column
  }
  .style28 {
    margin-top: 0;
    width: 25px;
    height: 25px
  }
  .style25,
  .style26 {
    color: #00ff9c;
    text-align: center;
    font-family: 'Fira Sans',serif;
    font-size: .384em;
    line-height: 12px;
    margin-top: 18px;
    width: 100%
  }
  .style25 {
    margin-left: 43px;
    margin-top: 57px;
    width: 31px
  }
  .style6 {
    margin-left: 184px;
    width: 135px;
    height: 100%;
    align-self: stretch
  }
  .style5 {
    color: #333;
    text-align: center;
    font-family: acaslonpro,serif;
    font-size: .512em;
    font-weight: 600;
    line-height: 23px;
    margin-left: 580px;
    margin-top: 33px;
    width: 111px
  }
  .row12 {
    display: flex;
    margin-left: 111px;
    margin-top: 0;
    width: 342px;
    height: 25px;
    align-items: center
  }
  .style23 {
    color: #525252;
    font-family: 'Fira Sans',serif;
    font-size: .384em;
    margin-left: 0;
    height: 6px
  }
  .style24 {
    margin-left: 158px;
    width: 25px;
    height: 100%
  }
  .style3,
  .style4 {
    margin-left: 623px
  }
  .style4 {
    color: #333;
    font-family: acaslonpro,serif;
    font-size: .384em;
    font-weight: 700;
    font-style: italic;
    margin-top: 6px;
    height: 6px
  }
  .style3 {
    margin-top: 45px;
    width: 25px;
    height: 25px
  }
  .row15 {
    display: flex;
    margin-left: 573px;
    margin-top: 14px;
    width: 121px;
    height: 59px;
    align-items: stretch
  }
  .style2 {
    color: #00ff9c;
    text-align: center;
    font-size: .384em;
    line-height: 12px;
    margin-left: 0;
    width: 53px
  }
  .style0,
  .style1,
  .style2 {
    font-family: 'Fira Sans',serif
  }
  .style1 {
    text-align: center;
    line-height: 12px;
    width: 55px;
    color: #00ff9c;
    font-size: .384em;
    margin-left: 14px
  }
  .style0 {
    color: #525252;
    font-size: .256em;
    margin-left: 567px;
    margin-top: 41px;
    height: 4px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .row0 {
    display: flex;
    margin-left: 52px;
    margin-top: 103px;
    width: 805px;
    height: 326px;
    align-items: stretch
  }
  .style45 {
    background-image: url(https://designresources.assets.yotako.io/9lhfavcjogxfa71.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    width: 569px;
    flex-direction: column
  }
  .row0image12row0 {
    display: flex;
    margin-left: 98px;
    margin-top: 10px;
    width: 390px;
    height: 29px;
    align-items: center
  }
  .style49 {
    margin-left: 0;
    width: 29px;
    height: 100%
  }
  .style48 {
    color: #31271c;
    text-align: center;
    font-family: 'Fira Sans',serif;
    font-size: .45999999999999996em;
    font-weight: 500;
    font-style: italic;
    margin-left: 44px;
    height: 5px
  }
  .style47 {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-left: 79px;
    width: 10px;
    height: 10px
  }
  .style46 {
    color: #00ff9c;
    text-align: center;
    font-family: acaslonpro,serif;
    font-size: 1.5333333333333332em;
    font-weight: 700;
    line-height: 42px;
    font-style: italic;
    margin-top: 96px;
    width: 233px;
    align-self: center
  }
  .style19 {
    background-image: url(https://designresources.assets.yotako.io/9lhfavcjogxf67z.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 42px;
    width: 196px;
    flex-direction: column
  }
  .row0image4row0 {
    display: flex;
    margin-left: 83px;
    margin-top: 10px;
    width: 96px;
    height: 29px;
    align-items: center
  }
  .style22 {
    margin-left: 0;
    width: 29px;
    height: 100%
  }
  .style21 {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-left: 56px;
    width: 10px;
    height: 10px
  }
  .style20 {
    text-align: center;
    font-size: 1.38em;
    line-height: 39px;
    margin-top: 88px;
    width: 164px;
    align-self: center
  }
  .style18,
  .style20,
  .style44 {
    color: #00ff9c;
    font-family: acaslonpro,serif;
    font-weight: 700;
    font-style: italic
  }
  .style18 {
    text-align: center;
    font-size: 1.2266666666666666em;
    line-height: 32px;
    margin-left: 704px;
    margin-top: 34px;
    width: 113px
  }
  .style44 {
    font-size: 1.5333333333333332em;
    line-height: 42px;
    margin-left: 130px;
    margin-top: 0;
    width: 157px
  }
  .row3 {
    position: relative;
    display: flex;
    margin-left: 132px;
    margin-top: 0;
    width: 707px;
    height: 263px
  }
  .style43 {
    color: #525252;
    line-height: 12px;
    margin-left: 0;
    margin-top: 44px;
    width: 407px
  }
  .style17,
  .style42,
  .style43 {
    font-family: 'Fira Sans',serif;
    font-size: .45999999999999996em
  }
  .style42 {
    margin-top: 152px;
    height: 5px;
    color: #b8b8b8;
    margin-left: 0
  }
  .style17 {
    color: #525252;
    line-height: 12px;
    margin-left: 498px;
    width: 162px;
    align-self: stretch
  }
  .row4 {
    position: relative;
    display: flex;
    margin-left: 52px;
    margin-top: 0;
    width: 805px;
    height: 326px
  }
  .style36 {
    background-image: url(https://designresources.assets.yotako.io/9lhfavcjogxf9hh.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    width: 569px;
    height: 100%;
    align-self: stretch;
    flex-direction: column
  }
  .style40,
  .style41 {
    color: #fff;
    text-align: center;
    align-self: center
  }
  .style41 {
    font-style: italic;
    height: 17px;
    font-family: acaslonpro,serif;
    font-size: 1.2266666666666666em;
    font-weight: 700;
    margin-top: 113px
  }
  .style40 {
    font-family: 'Fira Sans',serif;
    font-size: .45999999999999996em;
    font-weight: 500;
    line-height: 12px;
    margin-top: 17px;
    width: 191px
  }
  .row4image11row2 {
    display: flex;
    margin-left: 226px;
    margin-top: 32px;
    width: 125px;
    height: 7px;
    align-items: stretch
  }
  .style38,
  .style39 {
    color: #fff;
    font-family: acaslonpro,serif;
    font-size: .45999999999999996em;
    font-weight: 700;
    font-style: italic;
    margin-left: 0
  }
  .style38 {
    color: #4d4d4d;
    margin-left: 54px
  }
  .style37 {
    color: rgba(255,255,255,.6);
    font-family: 'Fira Sans',serif;
    font-size: 0;
    letter-spacing: 2px;
    margin-left: 542px;
    margin-top: 0;
    height: 96px
  }
  .row4column1 {
    display: flex;
    margin-left: 42px;
    margin-top: 52px;
    width: 196px;
    height: 356px;
    flex-direction: column
  }
  .style16 {
    color: #b8b8b8;
    font-family: 'Fira Sans',serif;
    font-size: .45999999999999996em;
    margin-left: 15px;
    margin-top: 0;
    height: 5px
  }
  .style11 {
    background-image: url(https://designresources.assets.yotako.io/9lhfavcjogxf5pr.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-top: 25px;
    width: 100%;
    height: 326px;
    align-self: stretch;
    flex-direction: column
  }
  .style14,
  .style15 {
    color: #fff;
    text-align: center;
    align-self: center
  }
  .style15 {
    font-style: italic;
    font-family: acaslonpro,serif;
    font-size: 1.2266666666666666em;
    font-weight: 700;
    line-height: 34px;
    margin-top: 93px;
    width: 132px
  }
  .style14 {
    font-family: 'Fira Sans',serif;
    font-size: .45999999999999996em;
    font-weight: 500;
    line-height: 12px;
    margin-top: 20px;
    width: 155px
  }
  .row4column1image3row2 {
    display: flex;
    margin-left: 44px;
    margin-top: 25px;
    width: 115px;
    height: 7px;
    align-items: stretch
  }
  .style12,
  .style13,
  .style35 {
    color: #fff;
    font-family: acaslonpro,serif;
    font-size: .45999999999999996em;
    font-weight: 700;
    font-style: italic;
    margin-left: 0
  }
  .style12,
  .style35 {
    color: #4d4d4d;
    margin-left: 44px
  }
  .style35 {
    color: #292b2a;
    text-align: center;
    font-size: .9199999999999999em;
    margin-left: 245px;
    margin-top: 39px;
    height: 15px
  }
  .style34 {
    color: #525252;
    font-family: 'Fira Sans',serif;
    font-size: .45999999999999996em;
    line-height: 12px;
    margin-left: 132px;
    margin-top: 15px;
    width: 397px
  }
  .style10 {
    color: #292b2a;
    font-family: acaslonpro,serif;
    font-size: .9199999999999999em;
    font-weight: 700;
    line-height: 32px;
    font-style: italic;
    margin-left: 677px;
    margin-top: 5px;
    width: 115px
  }
  .row8 {
    position: relative;
    display: flex;
    margin-left: 132px;
    margin-top: 0;
    width: 724px;
    height: 218px
  }
  .style33 {
    margin-left: 0;
    width: 407px;
    height: 100%;
    align-self: stretch
  }
  .row8column1 {
    display: flex;
    margin-left: 123px;
    margin-top: 22px;
    width: 196px;
    height: 238px;
    align-items: center;
    flex-direction: column
  }
  .style9 {
    color: #525252;
    font-family: 'Fira Sans',serif;
    font-size: .45999999999999996em;
    line-height: 12px;
    margin-top: 0;
    width: 162px
  }
  .style8 {
    margin-top: 20px;
    width: 100%;
    height: 137px
  }
  .row9 {
    position: relative;
    display: flex;
    margin-left: 132px;
    margin-top: 25px;
    width: 707px;
    height: 299px
  }
  .style31 {
    width: 162px;
    height: 243px
  }
  .row9column1,
  .style30,
  .style31 {
    margin-left: 0;
    flex-shrink: 0
  }
  .style30 {
    color: #333;
    font-family: acaslonpro,serif;
    font-size: .7666666666666666em;
    font-weight: 600;
    height: 12px
  }
  .row9column1 {
    position: relative;
    display: flex;
    width: 216px;
    height: 312px;
    flex-direction: column
  }
  .style32 {
    color: #525252;
    font-family: 'Fira Sans',serif;
    line-height: 12px;
    margin-top: 0;
    width: 100%;
    align-self: stretch
  }
  .style29,
  .style32,
  .style7 {
    font-size: .45999999999999996em
  }
  .style29 {
    font-weight: 700;
    font-style: italic;
    height: 7px;
    color: #333;
    font-family: acaslonpro,serif;
    margin-left: 164px;
    margin-top: 91px
  }
  .style7 {
    color: #525252;
    font-family: 'Fira Sans',serif;
    line-height: 12px;
    position: relative;
    margin-left: 142px;
    margin-top: 37px;
    width: 162px;
    flex-shrink: 0
  }
  .row10 {
    display: flex;
    margin-left: 199px;
    margin-top: 56px;
    width: 643px;
    height: 152px
  }
  .style27 {
    color: #00ff9c;
    text-align: center;
    font-family: 'Fira Sans',serif;
    font-size: .45999999999999996em;
    line-height: 15px;
    margin-left: 0;
    margin-top: 69px;
    width: 64px
  }
  .row10column1 {
    display: flex;
    margin-left: 42px;
    margin-top: 20px;
    width: 66px;
    height: 120px;
    align-items: center;
    flex-direction: column
  }
  .style28 {
    margin-top: 0;
    width: 29px;
    height: 29px
  }
  .style25,
  .style26 {
    color: #00ff9c;
    text-align: center;
    font-family: 'Fira Sans',serif;
    font-size: .45999999999999996em;
    line-height: 15px;
    margin-top: 22px;
    width: 100%
  }
  .style25 {
    margin-left: 52px;
    margin-top: 69px;
    width: 37px
  }
  .style6 {
    margin-left: 221px;
    width: 162px;
    height: 100%;
    align-self: stretch
  }
  .style5 {
    color: #333;
    text-align: center;
    font-family: acaslonpro,serif;
    font-size: .6133333333333333em;
    font-weight: 600;
    line-height: 27px;
    margin-left: 694px;
    margin-top: 39px;
    width: 132px
  }
  .row12 {
    display: flex;
    margin-left: 132px;
    margin-top: 0;
    width: 410px;
    height: 29px;
    align-items: center
  }
  .style23 {
    color: #525252;
    font-family: 'Fira Sans',serif;
    font-size: .45999999999999996em;
    margin-left: 0;
    height: 7px
  }
  .style24 {
    margin-left: 189px;
    width: 29px;
    height: 100%
  }
  .style3,
  .style4 {
    margin-left: 746px
  }
  .style4 {
    color: #333;
    font-family: acaslonpro,serif;
    font-size: .45999999999999996em;
    font-weight: 700;
    font-style: italic;
    margin-top: 7px;
    height: 7px
  }
  .style3 {
    margin-top: 54px;
    width: 29px;
    height: 29px
  }
  .row15 {
    display: flex;
    margin-left: 687px;
    margin-top: 17px;
    width: 145px;
    height: 71px;
    align-items: stretch
  }
  .style2 {
    color: #00ff9c;
    text-align: center;
    font-size: .45999999999999996em;
    line-height: 15px;
    margin-left: 0;
    width: 64px
  }
  .style0,
  .style1,
  .style2 {
    font-family: 'Fira Sans',serif
  }
  .style1 {
    text-align: center;
    line-height: 15px;
    width: 66px;
    color: #00ff9c;
    font-size: .45999999999999996em;
    margin-left: 17px
  }
  .style0 {
    color: #525252;
    font-size: .30666666666666664em;
    margin-left: 680px;
    margin-top: 49px;
    height: 5px
  }
}
@media (min-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .row0 {
    display: flex;
    margin-left: 67px;
    margin-top: 134px;
    width: 1050px;
    height: 426px;
    align-items: stretch
  }
  .style45 {
    background-image: url(https://designresources.assets.yotako.io/9lhfavcjogxfa71.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    width: 742px;
    flex-direction: column
  }
  .row0image12row0 {
    display: flex;
    margin-left: 128px;
    margin-top: 13px;
    width: 509px;
    height: 38px;
    align-items: center
  }
  .style49 {
    margin-left: 0;
    width: 38px;
    height: 100%
  }
  .style48 {
    color: #31271c;
    text-align: center;
    font-family: 'Fira Sans',serif;
    font-size: .6000000000000001em;
    font-weight: 500;
    font-style: italic;
    margin-left: 58px;
    height: 6px
  }
  .style47 {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-left: 102px;
    width: 13px;
    height: 13px
  }
  .style46 {
    color: #00ff9c;
    text-align: center;
    font-family: acaslonpro,serif;
    font-size: 2em;
    font-weight: 700;
    line-height: 54px;
    font-style: italic;
    margin-top: 125px;
    width: 304px;
    align-self: center
  }
  .style19 {
    background-image: url(https://designresources.assets.yotako.io/9lhfavcjogxf67z.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 54px;
    width: 256px;
    flex-direction: column
  }
  .row0image4row0 {
    display: flex;
    margin-left: 109px;
    margin-top: 13px;
    width: 125px;
    height: 38px;
    align-items: center
  }
  .style22 {
    margin-left: 0;
    width: 38px;
    height: 100%
  }
  .style21 {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-left: 74px;
    width: 13px;
    height: 13px
  }
  .style20 {
    text-align: center;
    font-size: 1.8em;
    line-height: 51px;
    margin-top: 115px;
    width: 214px;
    align-self: center
  }
  .style18,
  .style20,
  .style44 {
    color: #00ff9c;
    font-family: acaslonpro,serif;
    font-weight: 700;
    font-style: italic
  }
  .style18 {
    text-align: center;
    font-size: 1.6em;
    line-height: 42px;
    margin-left: 918px;
    margin-top: 45px;
    width: 147px
  }
  .style44 {
    font-size: 2em;
    line-height: 54px;
    margin-left: 170px;
    margin-top: 0;
    width: 205px
  }
  .row3 {
    position: relative;
    display: flex;
    margin-left: 173px;
    margin-top: 0;
    width: 922px;
    height: 342px
  }
  .style43 {
    color: #525252;
    line-height: 16px;
    margin-left: 0;
    margin-top: 58px;
    width: 531px
  }
  .style17,
  .style42,
  .style43 {
    font-family: 'Fira Sans',serif;
    font-size: .6000000000000001em
  }
  .style42 {
    margin-top: 198px;
    height: 6px;
    color: #b8b8b8;
    margin-left: 0
  }
  .style17 {
    color: #525252;
    line-height: 16px;
    margin-left: 650px;
    width: 211px;
    align-self: stretch
  }
  .row4 {
    position: relative;
    display: flex;
    margin-left: 67px;
    margin-top: 0;
    width: 1050px;
    height: 426px
  }
  .style36 {
    background-image: url(https://designresources.assets.yotako.io/9lhfavcjogxf9hh.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    width: 742px;
    height: 100%;
    align-self: stretch;
    flex-direction: column
  }
  .style40,
  .style41 {
    color: #fff;
    text-align: center;
    align-self: center
  }
  .style41 {
    font-style: italic;
    height: 22px;
    font-family: acaslonpro,serif;
    font-size: 1.6em;
    font-weight: 700;
    margin-top: 147px
  }
  .style40 {
    font-family: 'Fira Sans',serif;
    font-size: .6000000000000001em;
    font-weight: 500;
    line-height: 16px;
    margin-top: 22px;
    width: 250px
  }
  .row4image11row2 {
    display: flex;
    margin-left: 294px;
    margin-top: 42px;
    width: 163px;
    height: 10px;
    align-items: stretch
  }
  .style38,
  .style39 {
    color: #fff;
    font-family: acaslonpro,serif;
    font-size: .6000000000000001em;
    font-weight: 700;
    font-style: italic;
    margin-left: 0
  }
  .style38 {
    color: #4d4d4d;
    margin-left: 70px
  }
  .style37 {
    color: rgba(255,255,255,.6);
    font-family: 'Fira Sans',serif;
    font-size: 0;
    letter-spacing: 3px;
    margin-left: 707px;
    margin-top: 0;
    height: 125px
  }
  .row4column1 {
    display: flex;
    margin-left: 54px;
    margin-top: 67px;
    width: 256px;
    height: 464px;
    flex-direction: column
  }
  .style16 {
    color: #b8b8b8;
    font-family: 'Fira Sans',serif;
    font-size: .6000000000000001em;
    margin-left: 19px;
    margin-top: 0;
    height: 6px
  }
  .style11 {
    background-image: url(https://designresources.assets.yotako.io/9lhfavcjogxf5pr.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-top: 32px;
    width: 100%;
    height: 426px;
    align-self: stretch;
    flex-direction: column
  }
  .style14,
  .style15 {
    color: #fff;
    text-align: center;
    align-self: center
  }
  .style15 {
    font-style: italic;
    font-family: acaslonpro,serif;
    font-size: 1.6em;
    font-weight: 700;
    line-height: 45px;
    margin-top: 122px;
    width: 173px
  }
  .style14 {
    font-family: 'Fira Sans',serif;
    font-size: .6000000000000001em;
    font-weight: 500;
    line-height: 16px;
    margin-top: 26px;
    width: 202px
  }
  .row4column1image3row2 {
    display: flex;
    margin-left: 58px;
    margin-top: 32px;
    width: 150px;
    height: 10px;
    align-items: stretch
  }
  .style12,
  .style13,
  .style35 {
    color: #fff;
    font-family: acaslonpro,serif;
    font-size: .6000000000000001em;
    font-weight: 700;
    font-style: italic;
    margin-left: 0
  }
  .style12,
  .style35 {
    color: #4d4d4d;
    margin-left: 58px
  }
  .style35 {
    color: #292b2a;
    text-align: center;
    font-size: 1.2000000000000002em;
    margin-left: 320px;
    margin-top: 51px;
    height: 19px
  }
  .style34 {
    color: #525252;
    font-family: 'Fira Sans',serif;
    font-size: .6000000000000001em;
    line-height: 16px;
    margin-left: 173px;
    margin-top: 19px;
    width: 518px
  }
  .style10 {
    color: #292b2a;
    font-family: acaslonpro,serif;
    font-size: 1.2000000000000002em;
    font-weight: 700;
    line-height: 42px;
    font-style: italic;
    margin-left: 883px;
    margin-top: 6px;
    width: 150px
  }
  .row8 {
    position: relative;
    display: flex;
    margin-left: 173px;
    margin-top: 0;
    width: 944px;
    height: 285px
  }
  .style33 {
    margin-left: 0;
    width: 531px;
    height: 100%;
    align-self: stretch
  }
  .row8column1 {
    display: flex;
    margin-left: 160px;
    margin-top: 29px;
    width: 256px;
    height: 310px;
    align-items: center;
    flex-direction: column
  }
  .style9 {
    color: #525252;
    font-family: 'Fira Sans',serif;
    font-size: .6000000000000001em;
    line-height: 16px;
    margin-top: 0;
    width: 211px
  }
  .style8 {
    margin-top: 26px;
    width: 100%;
    height: 179px
  }
  .row9 {
    position: relative;
    display: flex;
    margin-left: 173px;
    margin-top: 32px;
    width: 922px;
    height: 390px
  }
  .style31 {
    width: 211px;
    height: 317px
  }
  .row9column1,
  .style30,
  .style31 {
    margin-left: 0;
    flex-shrink: 0
  }
  .style30 {
    color: #333;
    font-family: acaslonpro,serif;
    font-size: 1em;
    font-weight: 600;
    height: 16px
  }
  .row9column1 {
    position: relative;
    display: flex;
    width: 282px;
    height: 406px;
    flex-direction: column
  }
  .style32 {
    color: #525252;
    font-family: 'Fira Sans',serif;
    line-height: 16px;
    margin-top: 0;
    width: 100%;
    align-self: stretch
  }
  .style29,
  .style32,
  .style7 {
    font-size: .6000000000000001em
  }
  .style29 {
    font-weight: 700;
    font-style: italic;
    height: 10px;
    color: #333;
    font-family: acaslonpro,serif;
    margin-left: 214px;
    margin-top: 118px
  }
  .style7 {
    color: #525252;
    font-family: 'Fira Sans',serif;
    line-height: 16px;
    position: relative;
    margin-left: 186px;
    margin-top: 48px;
    width: 211px;
    flex-shrink: 0
  }
  .row10 {
    display: flex;
    margin-left: 259px;
    margin-top: 74px;
    width: 838px;
    height: 198px
  }
  .style27 {
    color: #00ff9c;
    text-align: center;
    font-family: 'Fira Sans',serif;
    font-size: .6000000000000001em;
    line-height: 19px;
    margin-left: 0;
    margin-top: 90px;
    width: 83px
  }
  .row10column1 {
    display: flex;
    margin-left: 54px;
    margin-top: 26px;
    width: 86px;
    height: 157px;
    align-items: center;
    flex-direction: column
  }
  .style28 {
    margin-top: 0;
    width: 38px;
    height: 38px
  }
  .style25,
  .style26 {
    color: #00ff9c;
    text-align: center;
    font-family: 'Fira Sans',serif;
    font-size: .6000000000000001em;
    line-height: 19px;
    margin-top: 29px;
    width: 100%
  }
  .style25 {
    margin-left: 67px;
    margin-top: 90px;
    width: 48px
  }
  .style6 {
    margin-left: 288px;
    width: 211px;
    height: 100%;
    align-self: stretch
  }
  .style5 {
    color: #333;
    text-align: center;
    font-family: acaslonpro,serif;
    font-size: .8em;
    font-weight: 600;
    line-height: 35px;
    margin-left: 906px;
    margin-top: 51px;
    width: 173px
  }
  .row12 {
    display: flex;
    margin-left: 173px;
    margin-top: 0;
    width: 534px;
    height: 38px;
    align-items: center
  }
  .style23 {
    color: #525252;
    font-family: 'Fira Sans',serif;
    font-size: .6000000000000001em;
    margin-left: 0;
    height: 10px
  }
  .style24 {
    margin-left: 246px;
    width: 38px;
    height: 100%
  }
  .style3,
  .style4 {
    margin-left: 973px
  }
  .style4 {
    color: #333;
    font-family: acaslonpro,serif;
    font-size: .6000000000000001em;
    font-weight: 700;
    font-style: italic;
    margin-top: 10px;
    height: 10px
  }
  .style3 {
    margin-top: 70px;
    width: 38px;
    height: 38px
  }
  .row15 {
    display: flex;
    margin-left: 896px;
    margin-top: 22px;
    width: 189px;
    height: 93px;
    align-items: stretch
  }
  .style2 {
    color: #00ff9c;
    text-align: center;
    font-size: .6000000000000001em;
    line-height: 19px;
    margin-left: 0;
    width: 83px
  }
  .style0,
  .style1,
  .style2 {
    font-family: 'Fira Sans',serif
  }
  .style1 {
    text-align: center;
    line-height: 19px;
    width: 86px;
    color: #00ff9c;
    font-size: .6000000000000001em;
    margin-left: 22px
  }
  .style0 {
    color: #525252;
    font-size: .4em;
    margin-left: 886px;
    margin-top: 64px;
    height: 6px
  }
}